html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;

    min-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 1rem 2rem;
}

.container {
    display: grid;

    max-width: 1024px;
}

.header {
    grid-area: header;
}

.illustration {
    grid-area: illustration;
}

.content {
    grid-area: content;
}

.media {
    grid-area: media;
}

.footer {
    grid-area: footer;
}




.container {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;

    grid-template-areas:
        "header"
        "illustration"
        "content"
        "media"
        "footer";
}


@media screen and (min-width: 768px) {
    .container {
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 2fr 3fr;
        grid-gap: 0 3rem;

        grid-template-areas:
            "illustration header"
            "illustration content"
            "media media"
            "footer footer";
    }

    .footer {
        justify-self: end;
    }
}



.header {
    text-align: center;
}

.illustration-img {
    width: 100%;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

.gallery__img {
    width: 100%;
    object-fit: cover;
}



.viewer {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);

    visibility: hidden;

    /* debug */
    color: white;
}

.viewer:target {
    visibility: visible;
}

.viewer__img {
    max-width: 100%;
}

.viewer__control {
    position: absolute;
    width: 3em;
    z-index: 12;
    color: white;
}

.viewer__control-previous {
    top: 50%;
    left: 1em;
}

.viewer__control-next {
    top: 50%;
    right: 1em;
}

.viewer__control-close {
    top: 1em;
    right: 1em;
}




.selected-attachment {
    border: 2px solid white;
}